@page "/counter"
@using Mortgage_Calculator
<PageTitle>Mortgage Calculator</PageTitle>

<h1>Mortgage Calculator</h1>
<nav>
    <div class="topnav">
        <a class="active" href="#homeSingleMort" @onclick="() => calcOption = 1">Calculate mortgage</a>&nbsp
        <a href="#compareMort" @onclick="() => calcOption = 2">Calculate and compare mortgages</a>
    </div>
    <br />
</nav>
@if (calcOption == 1)
{
    <p>Calculate a single mortgage</p>

    <form action="/action_page.php">
        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInput.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />
        <label for="mTypeSelect">
            Select the mortgage type.
            <br />Standard: repay capital and interest.
            <br />Interest only: repay the interest. Capital paid off at the end of term.
        </label>
        <br />
        <select name="mTypeSelectStatement" id="mTypeSelect">
            <optgroup label="Select the mortgage type"></optgroup>
            <option value="1">Standard repayment</option>
            <option value="2">Interest Only repayment</option>
        </select>
        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInput.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Input deposit (optional):</label>
        <InputNumber @bind-Value="userInput.Deposit"></InputNumber>
        <br /><br />



    </form>
}
@if (calcOption == 2)
{
    <p>imputes needed for calc 2</p>
}
<p role="status">Current count: @currentCount</p>
<InputNumber @bind-Value="userInput.Deposit"></InputNumber>
<button class="btn btn-primary" @onclick="DisplayResults">Click me</button>


@code {

    private UserInput userInput = new();
    private MortgageType mTypeSelect = new();
    private int currentCount = 0;

    private int calcOption = 0;

    private void MortgageTypeSelect()
    {
        if (mTypeSelect == MortgageType.Standard)
        {
            mTypeSelect = MortgageType.Standard;
        }
        if (mTypeSelect == MortgageType.Interest_Only)
        {
            mTypeSelect = MortgageType.Interest_Only;
        }
    }

    private void DisplayResults()
    {


        if (calcOption == 1)
        {
            //do calc 1
            Results resultSet = LogicMethod.CalculateRepayments(userInput, mTypeSelect);
        }
        else
        {
            //do calc 2
        }
        currentCount++;
    }
}

