@page "/counter"
@using Mortgage_Calculator
<PageTitle>Mortgage Calculator</PageTitle>

<h1>Mortgage Calculator</h1>
<nav>
    <div class="topnav">
        <a class="active" @onclick="() => calcOption = 1">Calculate mortgage</a>&nbsp
        <a class="active" @onclick="() => calcOption = 2">Calculate and compare mortgages</a>
    </div>
    <br />
</nav>
@if (calcOption == 1)
{
    <p>Single mortgage</p>

    <form>
        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInput.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />
        <label for="mTypeSelect">
            Select the mortgage type.
            <br />Standard: repay capital and interest.
            <br />Interest only: repay the interest. Capital paid off at the end of term.
        </label>
        <br />
        <InputSelect @bind-Value="mTypeSelect" name="mTypeSelectStatement" id="mTypeSelect">
            <optgroup label="Select the mortgage type"></optgroup>
            <option value="1">Standard repayment</option>
            <option value="2">Interest Only repayment</option>
        </InputSelect>
        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInput.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInput.Deposit"></InputNumber>
        <br /><br />

        <button class="btn btn-primary" @onclick="DisplayResults">Results</button>
    </form>
}
@if (calcOption == 2)
{
    <p>Compare mortgages</p>

    <form>
        <h5>First mortgage</h5>
        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInput.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInput.Term"></InputNumber>
        <br /><br />
        <label for="mTypeSelect">
            Select the mortgage type.
            <br />Standard: repay capital and interest.
            <br />Interest only: repay the interest. Capital paid off at the end of term.
        </label>
        <br />
        <InputSelect @bind-Value="mTypeSelect" name="mTypeSelectStatement" id="mTypeSelect">
            <optgroup label="Select the mortgage type"></optgroup>
            <option value="1">Standard repayment</option>
            <option value="2">Interest Only repayment</option>
        </InputSelect>
        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInput.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInput.Deposit"></InputNumber>
        <br /><br />

        <h5>Second mortgage</h5>

        <label>Loan amount: </label>
        <InputNumber @bind-Value="userInputCompare.Amount"></InputNumber>
        <br /><br />
        <label>How many years for the loan? </label>
        <InputNumber @bind-Value="userInputCompare.Term"></InputNumber>
        <br /><br />
        <label for="mTypeSelectCompare">
            Select the mortgage type.
            <br />Standard: repay capital and interest.
            <br />Interest only: repay the interest. Capital paid off at the end of term.
        </label>
        <br />
        <InputSelect @bind-Value="mTypeSelectCompare" name="mTypeSelectStatement" id="mTypeSelectCompare">
            <optgroup label="Select the mortgage type"></optgroup>
            <option value="1">Standard repayment</option>
            <option value="2">Interest Only repayment</option>
        </InputSelect>
        <br /><br />
        <label>Interest rate: %</label>
        <InputNumber @bind-Value="userInputCompare.InterestRatePercentage"></InputNumber>
        <br /><br />
        <label>Deposit (optional):</label>
        <InputNumber @bind-Value="userInputCompare.Deposit"></InputNumber>
        <br /><br />

        <button class="btn btn-primary" @onclick="DisplayResults">Results</button>
    </form>
}
@*<p role="status">Current count: @currentCount</p>*@
@*<InputNumber @bind-Value="userInput.Deposit"></InputNumber>*@


@code {

    private UserInput userInput = new();
    private UserInput userInputCompare = new();
    private MortgageType mTypeSelect = new();
    private MortgageType mTypeSelectCompare = new();
    private int calcOption = 0;

    //private int currentCount = 0;

    private void DisplayResults()
    {


        if (calcOption == 1)
        {
            //do calc 1
            Results resultSet = LogicMethod.CalculateRepayments(userInput, mTypeSelect);
        }
        else
        {
            //do calc 2
            Results firstResultSet = LogicMethod.CalculateRepayments(userInput, mTypeSelect);
            Results sencondResultSet = LogicMethod.CalculateRepayments(userInputCompare, mTypeSelectCompare);
        }
        //currentCount++;
    }
}

