@page "/home"

<PageTitle>Home</PageTitle>

<h2>Welcome to the Mortgage Calculator</h2>

<p>Click <a href="/mortgageCalculator">here</a> to use the Calculator</p>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@

