@page "/aboutMe"
@using Mortgage_Calculator

<div class="font-colour">
    <h3>About Me</h3>

    <pre class="w-full">
        Hello,

        My name is Francis.
        I hold a BSc in Business IT and an MSc in IT, both from Coventry University.
        After completing my studies, I entered a graduate program in Software Testing, leading to a career spanning over 8 years.

        Since July 2023, I have been part of Rakete Mentoring, a software development course focused primarily on C#.
        Through this program, I’ve gained expertise not only in C# but also in HTML/CSS, GitHub, Bootstrap, and Blazor.

        I am especially keen to apply my skills in a professional role,
        ideally as an SDET or in a hybrid position that combines Software Engineering: Testing, Automation, and Development.
    </pre>
</div>

@code {

}

