@page "/aboutMe"

<div class="font-colour">
    <h3>About Me</h3>

    <p class="html w-full mc-tool">
        Hello,
        <br /><br />
        My name is Francis.<br />
        I hold a BSc in Business IT and an MSc in IT, both from Coventry University.<br /><br />
        After completing my studies, I entered a graduate program in Software Testing, leading to a career spanning over 8 years.
        <br /><br />
        Since July 2023, I have been part of Rakete Mentoring, a software development course focused primarily on C#.<br />
        Through this program, I’ve gained expertise not only in C# but also in HTML/CSS, GitHub, Bootstrap, and Blazor Bootstrap.
        <br /><br />
        I am especially keen to apply my skills in a professional role,
        ideally as an SDET or in a hybrid position that combines Software Engineering: Testing, Automation, and Development.
    </p>
</div>

@code {

}

