@using System
@using Mortgage_Calculator

@code {
[Parameter]
    public EventCallback DisplayResults { get; set; }
}

<div>
    <button style="background-color:blue" class="btn btn-primary" @onclick="DisplayResults">Calculate</button>
    <br /><br />
</div>