@page "/calculatorInput"
@using Mortgage_Calculator

@code
{
    [Parameter]
    public UserInput userInput { get; set; }

}

<form method="post">
    <div class="font-colour">

        <div class="space-y-3 border-bottom">
            <div class="text-[28px] lg:text-[38px] font-bold">
                <label>Loan amount</label>
            </div>
            <div class="space-y-2 border-b border-gray-400 pb-4">
                <p>If the loan is not for a new mortgage, enter the amount left on your current mortgage</p>
                <div class="flex">
                    <span aria-hidden="true" class="py-2 px-3 rounded-l border-gray-400 border border-solid">£</span>
                    <InputNumber @bind-Value="userInput.Amount"
                                 class="border-gray-400 border-b border-l-0 w-full border pl-2 ml-0 h-auto"
                                 Placeholder="Enter amount"/>
                </div>
            </div>
        </div>

        <div class="space-y-3 border-bottom">
            <div class="text-[28px] lg:text-[38px] font-bold">
                <label>Mortgage term </label>
            </div>
            <div class="space-y-2 border-b border-gray-400 pb-4">
                <p>The average period for repayment of a mortgage is 25 years.
                    <br/>Term cannot exceed 40 years.</p>
                <div class="flex">
                    <InputNumber @bind-Value="userInput.Term"
                                 class="border-gray-400 border-b border-l-0 w-full border pl-2 ml-0 h-auto"
                                 Placeholder="Enter years"/>
                    <span aria-hidden="true" class="py-2 px-3 rounded-r border-gray-400 border border-solid">years</span>
                </div>
            </div>
        </div>

        <div>
            <MortgageTypeSelect @bind-selection="userInput.Type"></MortgageTypeSelect>
        </div>

        <div class="space-y-3 border-bottom">
            <div class="text-[28px] lg:text-[38px] font-bold">
                <label>Interest rate </label>
            </div>
            <div class="space-y-2 border-b border-gray-400 pb-4">
                <div class="flex">
                    <InputNumber @bind-Value="userInput.InterestRatePercentage"
                                 class="border-gray-400 border-b border-l-0 w-full border pl-2 ml-0 h-auto"
                                 Placeholder="Enter interest rate" />
                    <span aria-hidden="true" class="py-2 px-3 rounded-r border-gray-400 border border-solid">%</span>
                </div>
            </div>
        </div>

        <div class="space-y-3">
            <div class="text-[28px] lg:text-[38px] font-bold">
                <label>
                    Deposit
                    <span class="font-normal text-xl">(Optional)</span>
                </label>
            </div>
            <p>This not not apply for a remortgage.</p>
            <div class="flex">
                <InputNumber @bind-Value="userInput.Deposit"
                             class="border-gray-400 border-b border-l-0 w-full border pl-2 ml-0 h-auto"
                             Placeholder="Enter amount" />
            </div>
        </div>
    </div>
</form>