@page "/"

<PageTitle>Home</PageTitle>

<h2>Welcome to the Mortgage Calculator</h2>

@*<p>Click <a href="/mortgageCalculator" class="text-decoration-none">here</a> to use the Calculator</p>*@

<a class="btn btn-primary" href="/mortgageCalculator" role="button" aria-expanded="false" aria-controls="collapseExample">
    Click here to use the Calculator
</a>
