<!-- Dropdown for Mortgage Type -->
<div>
    <label for="mTypeSelect">
        Select the mortgage type.
        <br />Standard: repay capital and interest.
        <br />Interest only: repay the interest. Capital paid off at the end of term.
    </label>
    <br>
    <InputSelect @bind-Value="mTypeSelect" name="mTypeSelectStatement" id="mTypeSelect">
        <optgroup label="Select the mortgage type"></optgroup>
        <option value=1>Select mortgage type</option>
        @foreach (MortgageType type in Enum.GetValues(typeof(MortgageType)))
        {
            <option value="@type">@type.ToString()</option>
        }
    </InputSelect>
</div>


@code {
    private MortgageType mTypeSelect = MortgageType.Undefined;
}

