<!-- Dropdown for Mortgage Type -->
@using Mortgage_Calculator
<div>
    <label for="mTypeSelect">
        Select the mortgage type.
        <br />Standard: repay capital and interest.
        <br />Interest only: repay the interest. Capital paid off at the end of term.
    </label>
    <br>
    <InputSelect @bind-Value ="selection" @bind-Value:after="Updateselection" @onchange="Updateselection" name="mTypeSelectStatement" id="mTypeSelect">
        <option value=""> --Select mortgage type-- </option>
        @foreach (MortgageType type in Enum.GetValues(typeof(MortgageType)))
        {
            <option value="@type">@type.ToString()</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public MortgageType selection { get; set; } = MortgageType.Standard;

    [Parameter]
    public EventCallback<MortgageType> selectionChanged { get; set; }

    private async Task Updateselection()
    {
        await selectionChanged.InvokeAsync(selection);
    }


    //private MortgageType _select = MortgageType.Standard;
    //public MortgageType Select
    //{
    //    get
    //    {
    //        return _select;
    //    }
    //    set
    //    {

    //        _select = value;
    //    }
    //}
}


