<!-- Dropdown for Mortgage Type -->
@using Mortgage_Calculator

<div class="space-y-3 border-bottom">
    <label for="mTypeSelect" class="text-[28px] lg:text-[38px] font-bold">
        Mortgage type
    </label>
    <br />
    <p>
        Standard: repay capital and interest.
        <br />Interest only: repay the interest. Capital paid off at the end of term.
    </p>
    <div class="space-y-2 border-b border-gray-400 pb-4">
        <div class="flex">
            <InputSelect @bind-Value="selection" @bind-Value:after="Updateselection" 
                         @onchange="Updateselection" name="mTypeSelectStatement" id="mTypeSelect" 
                         class="border-gray-400 border-b border-l-0 w-full border pl-2 ml-0 h-auto">
                <option value=""> --Select mortgage type-- </option>
                @foreach (MortgageType type in Enum.GetValues(typeof(MortgageType)))
                {
                    <option value="@type">@type.ToString()</option>
                }
            </InputSelect>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MortgageType selection { get; set; } = MortgageType.None;

    [Parameter]
    public EventCallback<MortgageType> selectionChanged { get; set; }

    private async Task Updateselection()
    {
        await selectionChanged.InvokeAsync(selection);
    }
}
