<!-- Dropdown for Mortgage Type -->
@using Mortgage_Calculator
<div>
    <label for="mTypeSelect">
        Select the mortgage type.
        <br />Standard: repay capital and interest.
        <br />Interest only: repay the interest. Capital paid off at the end of term.
    </label>
    <br>
    <InputSelect @bind-Value="selection" @onchange="Updateselection" name="mTypeSelectStatement" id="mTypeSelect">
        <option disabled selected>Select mortgage type</option>
        @foreach (MortgageType type in Enum.GetValues(typeof(MortgageType)))
        {
            <option value="@type">@type.ToString()</option>
        }
    </InputSelect>
</div>

@code {
    [Parameter]
    public MortgageType selection { get; set; } = MortgageType.Standard;

    [Parameter]
    public EventCallback<MortgageType> selectionChanged { get; set; }

    async Task Updateselection(ChangeEventArgs e)
    {
        selection = (MortgageType)Enum.Parse(typeof(MortgageType), e.Value.ToString());
        await selectionChanged.InvokeAsync(selection);
    }
}


