@using System
@using Mortgage_Calculator

@code {
    [Parameter]
    public Results resultSet { get; set; }
}

<div class="display-block">
    <div class="alert alert-warning interestWarning-indicator" role="alert">
        <p class="fs-6">
            @resultSet.WarningIndicator
        </p>
    </div>
</div>