@using System
@using Mortgage_Calculator

@code {
    [Parameter]
    public UserInput userInput { get; set; }

    [Parameter]
    public Results resultSet { get; set; }

    double calcPrinciple()
    {
        double principle = userInput.Amount - userInput.Deposit;
        return principle;
    }
    double calcIntTotal()
    {
        return resultSet.TotalAmount - calcPrinciple();
    }
    double calcInterestOnlyLoanTotal()
    {
        return resultSet.TotalAmount + (userInput.Amount - userInput.Deposit);
    }
    double calcIntValueForIntOnlyLoan()
    {
        return calcInterestOnlyLoanTotal() - (userInput.Amount - userInput.Deposit);
    }
}

<div class="display-block">
    <!-- Capital and Interest repayment amounts -->
    <font style="margin-top:-3; display: block;" size="0">
        Capital repayment is £@calcPrinciple().ToString("N2") and the Interest repayment is
        @if (userInput.Type == MortgageType.Standard)
        {
            <span> £@calcIntTotal().ToString("N2")</span>
        }
        else
        {
            <span> £@calcIntValueForIntOnlyLoan().ToString("N2")</span>
        }
    </font>
</div>